{% extends 'base.html' %} 
{% block title %} Productos {% endblock %}
{% block title1 %} Productos {% endblock %}
{% block header %}

  {% if g.user %}     
  
    <a style="max-width: 80px;" href="{{ url_for('productos.register') }}">
      <input style="background-color:#224a64 ;text-align: right; color: #fff; border-style: hidden;
      border-radius: 6px;"type="button" value="Crear Producto">
    </a>
    {% endif %}
    
    <form  method="post">
      <input style="background-color:#224a64 ; min-width: 500px; border-style: hidden;
      "type="text" name="txtcategoria" id="txtcategoria" placeholder="Search..." autofocus />
      <input  type="submit" value="send" hidden>  
    </form>
  
{% endblock %} 
{% block content %} 
  <button onclick="topFunction()" id="myBtn" title="Go to top" style="min-width: 50px;"> ^ </button>
  {% for producto in productos %}
    <article>
      <header>

          <a href="{{ url_for('productos.update', id=producto.codprod) }}" 
          style=" font-weight: bold; text-decoration:none ; background-color: #224a64; 
          color: #fff; border-radius: 6px; text-align: center;
          padding-bottom: 5px; flex: 0 0 7%;
          min-width: 80px;" 
          type="button"> {{ producto.codprod }} 
          </a>

          <a href="{{ url_for('productos.update', id=producto.codprod) }}" 
          style="flex: 0 0 70%; text-decoration:none ;background-color: #224a64; color: #fff; border-radius: 6px;
          text-align: center;  padding-bottom: 5px; margin-right:9px; margin-left:9px;" type="button">            
            {{ producto.nomprod }}
          </a>

          <div style="min-width: 80px; padding-right: 3px;">
          
            <p style="text-align: right; "> 
              {{  "${:,.0f}".format(producto.venprod)}} 
            </p>
            <p style="text-align: right; font-size: 10px;">
              {{ producto.exiprod }} 
            </p>

          </div>

      </header>


    </article> 

  {% endfor %} 
  <script>
    let mybutton = document.getElementById("myBtn");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

      function topFunction() {
      document.body.scrollTop = 0; 
      document.documentElement.scrollTop = 0; 
    }
  </script>
  


{% endblock %}
