{% extends 'base.html' %} 
{% block title %} Compra {% endblock %} 
{% block title1 %} Compra1 {% endblock %} 
{% block header %}
  <div style="flex: auto; column-count: 1">
    {% if g.user %}
    <a style="width: auto" href="{{ url_for('compras.register') }}">
      <input
        style="
          background-color: #224a64;
          text-align: right;
          color: #fff;
          border-style: hidden;

          border-radius: 6px;
          cursor: pointer;
        "
        type="button"
        value="Crear Compra"
      />
    </a>
    {% endif %}

    <form method="post">
      <input
        style="
          background-color: #224a64;
          flex: 0 0 70%;
          border-style: hidden;
          color: #fff;
        "
        type="text"
        name="txtcategoria"
        id="txtcategoria"
        placeholder="Search..."
        autofocus
      />
      <input type="submit" value="send" hidden />
    </form>
  </div>
{% endblock %} 

{% block content %}
<button
  onclick="topFunction()"
  id="myBtn"
  title="Go to top"
  style="min-width: 50px"
>
  ^
</button>

{% for compra in compras %}

  <article style="background-color: #173346;
    padding: 0 9px ; 
    margin-bottom: 6px; 
    border-radius: 3px; 
    ">
    <header >
      <a style="
              font-weight: bold;
              text-decoration: none;        
              color: #fff;
              border-radius: 3px;
              text-align: center;
              width: 90px;
              
              
            " type="button">
        {{ compra.numcom }}
      </a>
      <a
        href="#"
        
        style="        
          text-decoration: none;
          background-color: #224a64;
          color: #fff;
          border-radius: 3px;

          max-width: 300px;
          width: 100%;
          
          padding: 10px;
          text-align:center;
          
        "
        type="button"
      >
      {{ compra.docext }}
      </a>
      
      <a style="">{{ compra.feccom }}</a>
      <a style="width: 200px;">{{ compra.nitter }}</a>
      
    </header>
  </article>

{% endfor %}

<script>
  let mybutton = document.getElementById("myBtn");

  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>

{% endblock %}
