<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/blog.ico') }}"
      type="image/x-icon"
    />
    <!-- my blog valor defalul -->
    <title>{% block title %} Title {% endblock %}- CRUD</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "bc40f63065094f1ba94534e9216521fd"}'
    ></script>
    <!-- End Cloudflare Web Analytics -->    

    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

  </head>
  
  <body >
    <header class="header">
      <div class="nav">
        <div>
          <a style="max-height: 50px" href="{{ url_for('productos.index') }}">
            <h1 >{% block title1 %}{% endblock %}</h1>
          </a>
        </div>
        <!-- 2:22:24 -->
        <nav>
          {% if g.user %}
          <img
            src="{{ url_for('static', filename='img/user.png') }}"
            alt="user"
            style="max-height: 50px; max-width: 50px"
          />
          <span>{{ g.user.username }}</span>
          <a href="{{ url_for('auth.logout') }}">Cerrar sesion</a>
          <a href="{{ url_for('auth.register') }}">Registra usuario</a>
          {% else %}
          <a href="{{ url_for('auth.login') }}">Iniciar sesion</a>
          {% endif %}
        </nav>
        <!-- / -->
      </div>
    </header>

    <section >
      <div class="content">
        <header>
          {% block header %}
          {% endblock %}
        </header>

        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %} 

        <div >
          {% block content %} 
          {% endblock %}
        </div>

      </div>
    </section>
  </body>
</html>
